@use '../utils/mixins' as *;

// Mobile
.card {
  max-width: 24rem;
  background-color: var(--white);
  border-radius: 1.25rem;
  padding: 1.5rem;
  box-shadow: 8px 8px 0 0 hsl(0, 0%, 0%);
  border: 1px solid #000000;
  user-select: none;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__image {
    text-align: center;
    border-radius: 0.625rem;
    max-width: 100%;
    height: auto;
  }

  &__tag {
    @include text-preset-3-bold;
    margin-top: 1.5rem;
    background-color: var(--yellow);
    color: var(--gray-950);
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    width: fit-content;
    user-select: text;
  }

  &__date {
    @include text-preset-3;
    color: var(--gray-950);
    user-select: text;
  }

  &__title {
    @include text-preset-1;
    color: var(--gray-950);
    user-select: text;
  }

  &__title:hover {
    cursor: pointer;
    color: var(--yellow);
  }

  &__description {
    @include text-preset-2;
    color: var(--gray-500);
    user-select: text;
  }

  &__porfile {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 2rem;
    height: 2rem;
  }

  &__username {
    @include text-preset-3-bold;
    margin-left: 0.75rem;
    user-select: text;
  }
}

// Desktop
@media (min-width: 1440px) {
  .card {
    &__tag {
      font-size: 0.875rem;
    }

    &__date {
      font-size: 0.875rem;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__description {
      font-size: 1rem;
    }
  }
}
